@font-face {
    font-family: $FRB;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: $FRM;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: $FRR;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: $FRL;
    src: url('../fonts/Roboto-Light.ttf');
}